* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    background-color: rgb(51 51 51);
    font-family: Arial, Helvetica, sans-serif;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(26 26 26);
    line-height: 3rem;
}

.header-content-left {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 50%;
}

.logo-header {
    margin: 0 2rem;
    font-family: "Brush Script MT", "Brush Script Std", cursive;
    font-size: 2rem;
    color: #fddefd;
    text-shadow: 0 0 7px #F0F, 0 0 10px #F0F, 0 0 21px #F0F, 0 0 42px #F0F, 0 0 151px #F0F;
}

.search-bar-container {
    display: flex;
    align-items: center;
}

.search-bar {
    height: 1.5rem;
    outline: none;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    color: white;
    background-color: rgb(51 51 51);
    font-size: 1.5rem;
    padding: 1rem 0;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    padding-left: 0.5rem;
    opacity: 1; /* Firefox */
}

/* stylelint-disable-next-line */
::placeholder { /* Internet Explorer 10-11 */
    color: white;
    padding-left: 0.5rem;
}

/* stylelint-disable-next-line */
::placeholder { /* Microsoft Edge */
    color: white;
    padding-left: 0.5rem;
}

.search-bar-container button {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    float: right;
    height: 2rem;
    width: 2rem;
    background-color: rgb(51 51 51);
    font-size: 1rem;
    border: none;
    cursor: pointer;
    color: black;
}

.header-content-right button {
    height: 1.5rem;
    border: 1px solid #F0F;
    color: #F0F;
    background-color: rgb(51 51 51);
    border-radius: 5px;
    font-size: 1rem;
    margin: 0 0.5rem;
    padding: 0 0.5rem;
}

main section {
    height: 75rem;
}

.results-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    color: #F0F;
    height: 100%;
    margin: 5rem 0 0 5rem;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    line-height: 2rem;
    width: 100%;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(26 26 26);
    padding: 1.5rem 0;
    color: #00c8ff;
}

.post-form {
    width: 25%;
    position: absolute;
    top: 5rem;
    left: 2rem;
    padding: 1rem;
    border: .5rem solid rgb(26 26 26);
    border-radius: 2rem;
    background-color: #ccc;
}

.post {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
}

.post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.post-username {
    font-weight: bold;
}

.post-date {
    font-style: italic;
}

.post-location {
    margin-left: 10px;
    font-style: italic;
}

.post-text {
    margin-bottom: 10px;
    cursor: pointer;
}

.post-hashtags {
    font-style: italic;
    margin-bottom: 10px;
}

.post-interactions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-style: italic;
}

.post-likes::before {
    content: "\2661 ";
}

.post-shares::before {
    content: "\2194 ";
}

.post-comments {
    margin-top: 10px;
}

.post-comment {
    margin-bottom: 5px;
}

/* Form styles */
form {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
textarea {
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

input[type="submit"],
.post-form button {
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    background-color: rgb(26 26 26);
    color: #fff;
    cursor: pointer;
}

input[type="submit"]:hover,
.post-form button:hover {
    background-color: rgb(26 26 26);
}

/* Media query breakpoints for responsiveness.  Design for mobile first. */

/* Mobile devices – 320px — 480px.
iPads, Tablets – 481px — 768px.
Small screens, laptops – 769px — 1024px.
Desktops, large screens – 1025px — 1200px.
Extra large screens, TV – 1201px, and more. */