/* CSS Resets */
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html, body {
    height: 100vh;
}

.page-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    overflow: auto;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

#root, #__next {
    isolation: isolate;
}

@font-face {
    font-family: 'opendyslexic3bold';
    src: url('fonts/opendyslexic3-bold-webfont.woff2') format('woff2'), url('fonts/opendyslexic3-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'opendyslexic3regular';
    src: url('fonts/opendyslexic3-regular-webfont.woff2') format('woff2'), url('fonts/opendyslexic3-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: opendyslexic3regular, Arial, sans-serif;
    font-size: 12px;
}

html {
    height: 100%;
}

body {
    height: 100%;
    background-color: #2c2c2c;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header-content {
    display: flex;
    flex-direction: column;
    background-color: #1A1A1A;
    line-height: 3rem;
}

.header-content-top {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-header {
    margin: 0 1rem;
    font-family: "Brush Script MT", "Brush Script Std", cursive;
    font-size: 2rem;
    color: #FDDEFD;
    text-shadow: 0 0 7px #F0F, 0 0 10px #F0F, 0 0 21px #F0F, 0 0 42px #F0F, 0 0 151px #F0F;
}

/* .sign-in-button {
    border: 1px solid #00C8FF;
    color: #00C8FF;
    background-color: #1A1A1A;
    border-radius: 5px;
    margin: 0 1rem;
} */

.search-bar-container {
    display: flex;
    align-items: center;
    margin-left: 0.5rem;
    margin-bottom: 0.25rem;
}

#search-bar {
    height: 1.5rem;
    width: 100%;
    outline: none;
    border: 2px solid white;
    color: white;
    background-color: #1A1A1A;
    font-size: 1rem;
    padding: 1rem 0;
    margin: 0;
    transition: all 0.3s ease-in-out;
}

#search-bar:focus {
    background-color: #282828;
    border-color: #00C8FF;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    padding-left: 0.5rem;
    opacity: 1; /* Firefox */
}

/* stylelint-disable-next-line */
::placeholder { /* Internet Explorer 10-11 */
    color: white;
    padding-left: 0.5rem;
}

/* stylelint-disable-next-line */
::placeholder { /* Microsoft Edge */
    color: white;
    padding-left: 0.5rem;
}

.search-bar-container button {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    float: right;
    background-color: #1A1A1A;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    color: white;
}

footer {
    left: 0;
    bottom: 0;
    line-height: 2rem;
    width: 100%;
}

.footer-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(26 26 26);
    padding: 1.5rem 0;
    color: #00c8ff;
}

.post-form-header {
    display: flex;
    justify-content: space-between;
}

.new-post-button-container button {
    margin: 1rem;
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #00c8ff;
    background-color: #00c8ff;
    color: #f0f0f0;
    cursor: pointer;
}

main section {
    height: 100%;
    align-items: center;
    display: flex;
    flex: 1;
    flex-direction: column;
}

#new-post-container {
    display: none;
}

#post-container {
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.post {
    width: 100%;
    margin: 1rem;
    padding: 1rem;
    background-color: #282828;
    color: #f0f0f0;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
    border: 2px solid #f0f0f0;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.2rem;
}

.post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.post-username {
    font-weight: bold;
}

.post-date {
    font-style: italic;
}

.post-location {
    margin-left: 1rem;
    font-style: italic;
}

.post-text {
    margin-bottom: .5rem;
    cursor: pointer;
    line-height: 1.5rem;
    border: 2px solid lightblue;
    border-radius: 5px;
    padding: 3px;
}

.post-hashtags {
    font-style: italic;
    margin-bottom: 1rem;
}

.post-interactions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-style: italic;
    padding: 1rem 0;
    align-self: flex-end;
    width: 10rem;
}

.post-likes::before {
    content: "\2661 ";
}

.post-shares::before {
    content: "\2194 ";
}

.post-comments {
    margin-top: 1rem;
}

.post-comment {
    margin-bottom: 0.5rem;
}

.form-button-container {
    display: flex;
    justify-content: center;
}

.post-comment-form button {
    width: 10rem;
}

.post-comments,
.post-interactions,
.post-comment-form {
    display: none;
}

.post-text.clicked .post-comments,
.post-text.clicked .post-interactions,
.post-text.clicked .post-comment-form {
    display: block;
}

/* Form styles */
#post-form {
    padding: 1rem;
    border-radius: 2rem;
    border: 2px solid white;
    background-color: #282828;
    color: #f0f0f0;
}

form {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

label {
    margin-bottom: 0.5rem;
    font-weight: bold;
}

input[type="text"],
textarea {
    margin: 1rem;
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #f0f0f0;
    background-color: #4a4a4a;
    color: #f0f0f0;
}

/* Need to add the same focus effect from search bar on the textarea "enter post" container */

input[type="submit"],
#post-form button {
    margin: 1rem;
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #00c8ff;
    background-color: #00c8ff;
    color: #f0f0f0;
    cursor: pointer;
}

input[type="submit"]:hover,
#post-form button:hover {
    background-color: #00b0e6;
}

/* Media query breakpoints for responsiveness.  Design for mobile first. */

/* Mobile devices – 320px — 480px.
iPads, Tablets – 481px — 768px.
Small screens, laptops – 769px — 1024px.
Desktops, large screens – 1025px — 1200px.
Extra large screens, TV – 1201px, and more. */